<div class="container mt-5">
  <h2> Tema: {{ temaCuestionario }} </h2>
 <form [formGroup]="formQuestions" (ngSubmit)="onSubmit()">
    <div class="col my-3" *ngFor="let cuestionario of cuestionarios; index as i">
      <label [for]="cuestionario.idPregunta"> {{ cuestionario.nombre }} </label>
      <select class="form-select" [formControlName] = "cuestionario.idPregunta" [id]="cuestionario.idPregunta">
        <option value="" disabled> Seleccione una opción</option>
        <option *ngFor="let pregunta of cuestionario.opciones" [value]="pregunta.id"> {{ pregunta.opcion }}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>

 </form>
</div>